{% extends "base.html" %}

{% block title %}{{product.name}}{% endblock title %}

{% block content %}

<h1>{{product.name}}</h1>
<h3>Raitng: {{rating}}</h3>
{% if product.original_name %}
<p>{{product.original_name}}</p>
{% endif %}

<p>{{product.category}}</p>

{% for sp in product_specifications %}
<p>{{sp.specification.title}} : {{sp.value}}</p>
{% endfor %}

<p>{{product.description}}</p>

<hr/>
<h1>Reviews({{product_reviews|length}})</h1>
{% for review in product_reviews %}
<p>{{review.user}}</p>
<p>{{review.subject}}</p>
<p>{{review.rate}}</p>
<p>{{review.comment}}</p>

{% endfor %}
{% endblock content %}


